.map {
  height: calc(100vh - 59px);
  width: 100%;
}

.navbar-director {
  border-top: 5px solid #2FB9F0;
  box-shadow: 1px 1px 1px #d8d8d8;
  position: relative;
  top: 0px;
  z-index: 1500;
}

.uk-navbar-nav > li {
  padding: 15px;
  color: white;
}

.tooltip {
  display: none;
  position: fixed;
  z-index: 999;
  padding: .1em .3em;
  background-color: #23232387;
  color: white;
  font-size: 11px;
  border: 1px solid black;
}

.bottom-container {
  display: table;
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 20px;

  .search-container {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;

    .uk-button-primary {
      background-color: #002f66;

      &:hover {
        background-color: #2FB9F0;
      }

      &:disabled {
        background-color: rgb(204, 204, 204);
      }
    }
  }
}