<progress id="js-progressbar" class="uk-progress" value="10" max="100"></progress>
<nav class="uk-navbar-container navbar-director" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <!-- <li><img src="http://www.pmf.sc.gov.br/layout/imagens/marca-pmf.svg" width="50%"></li> -->
      <li>
        <span style="color: #052f66; font-weight: bold;">PREFEITURA DE</span>
        <span style="color: #2fb9f0; font-weight: bold;"> FLORIANÓPOLIS</span>
      </li>
    </ul>
  </div>
</nav>

<div class="uk-background-muted uk-flex uk-flex-middle uk-flex-center">
  <div id="map" class="map"></div>
  <div id="tooltip" class="tooltip">{{ mouseTooltip }}</div>
</div>

<div class="bottom-container">
  <div class="search-container">
    <button (click)="measuring ? stopMeasure() : startMeasure()" class="uk-button uk-button-primary">{{ measuring ? 'Finalizar desenho' : 'Iniciar busca' }}</button>
  </div>
</div>