/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
}

.leaflet-control-mouseposition {
  border: 2px solid #777;
  border-top: none;
  color: #3c3c3c;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 5px !important;
  background: rgba(255, 255, 255, 0.5);
}